<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>String</title>
        <link rel="icon" href="/favicon.ico">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link 
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,600&display=swap" 
            rel="stylesheet">
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- Scripts -->
        <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script defer src="script.js"></script>
    </head>

    <body>

        <div class="container">
            <div class="heading">
                <h1>String</h1>
            </div>
            <h1>New Room</h1>
            <form action="/room" method="POST">
                <input class="new-room" name="room" type="text" autocomplete="off" required>
                <button type="submit">Create</button>
            </form>
            <div id="room-container">
                <h1>Join Room:</h1>
                <% Object.keys(rooms).forEach(room => { %>
                <%= room %>
                <form action="/<%= room %>">
                    <input class="join-room" type="submit" value="Join">
                </form>
                <% }) %>
            </div>
        </div>

        <div id="contact-me">
            <a class="contact-button" href="#contact-me-popup">About</a>
        </div>

        <div id="contact-me-popup" class="overlay">
            <div class="popup">
                <h2>About</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    String, an anonymous chat rooms where you can literally talk about anything.
                    Create a new chat room or use the existing rooms to join in.<br /><br />
                    For Queries & Feedback,<br />
                    <em>e-mail: vr.rohit03@gmail.com</em><br />
                    <em>github: rohit-vrrr</em>
                </div>
            </div>
        </div>

        <div class="area" >
            <ul class="circles">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
            </ul>
        </div >

    </body>

    <footer>
        <p>Copyright ⓒ 2021</p>
    </footer>

</html>
